@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-color: #fff;
}

* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}
form {
    background: lightpink;
    color: maroon;
    display: flex;
    font-size: 20px;
    padding: 10px;

}
input {
   font-size: 20px; 
   width: 300px;
   box-shadow: 2px 5px grey;
   border-radius: 5px;
}
button {
   font-size: 20px;
   padding: 5px;
   color: red;
   border: 2px solid brown;
   font-weight: bold; 
   box-shadow: 2px 5px firebrick;
   border-radius: 5px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.8;
     
    background-image: url('../img/new-year.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: leftcenter;
    color: var(--primary-color);
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    margin: 10px;
    overflow: hidden;

}
.row {
    display: flex;
    margin: 10px
}

.column {
    flex: 45%;
    margin: 10px
}

h1 {
    font-size: 25px;
    margin: 10px;
}

.count-down {
    text-align: center;
    font-size: 40px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.count-down2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}
.timer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.timer h2 {
    margin: 10px;
    font-size: 1.5rem;
}
.message {
    font-size: 60px;
    font-size: bold;
}
.timer2 h2 {
    margin: 10px;
    font-size: 1.5rem;
}
.message2 {
    font-size: 60px;
    font-size: bold;
}

small {
    padding-top: 5px;
    font-size: 0.8rem;
    text-transform: uppercase;
    display: block;
}


.year {
    font-size: 100px;
    opacity: 0.4;
    bottom: 0;
    margin: 0;
    color: lightskyblue;
    text-align: center;
}
.year2 {
    font-size: 100px;
    opacity: 0.4;
    bottom: 0;
    margin: 0;
    color: lightskyblue;
    text-align: center;
}

@media (max-width: 500px) {
    h1 {font-size: 10px;}

    .timer {margin: 5px;}
    .timer h2 {
        font-size: 30px;
        margin: 10px;
        text-align: center;
    }
    .timer small {font-size: 12px;}

    .timer2 {margin: 5px;}
    .timer2 h2 {
        font-size: 30px;
        margin: 10px;
        text-align: center;
    }
    .timer2 small {font-size: 12px;}

    .year {font-size: 100px;}
    .message {font-size: 25px;}

    .year2 {font-size: 100px;}
    .message2 {font-size: 25px;}
}